* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}

/*************** MEDIA QUIRIES ******************/
@media screen and (max-width: 600px) {
  .introduction-item{
    width: 100% !important;
  }
  nav a{
    font-size: 15px !important;
  }
  .info .left{
    width: 100%;
    text-align: center;
    margin: 15px auto;
  }
  .info .right{
    margin: 10px auto;
  }
  .svg:nth-of-type(2), .svg:nth-of-type(3){
    display: none;
  }
  
}
@media (min-width: 600px) and (max-width: 768px) {
  .introduction-item{
    width: 100% !important;
  }
  .info .left{
    width: 100%;
    text-align: center;
    margin: 15px auto;
  }
  .info .right{
    margin: 10px auto;
  }
  .svg:nth-of-type(2), .svg:nth-of-type(3){
    display: none;
  }
}
@media screen and (min-width: 768px){
  .svg:nth-of-type(3){
    display: none;
  }  
  .svg:nth-of-type(2){
    left: 50vw !important;
  }  
}
@media screen and (min-width: 992px) {
  .svg:nth-of-type(1){
    left: 5vw !important;
  } 
  .svg:nth-of-type(2){
    left: 38vw !important;
  }   
  .svg:nth-of-type(3){
    left: 70vw !important;
    display: block !important;
  }
}
/*************** MEDIA QUIRIES ******************/


/* -------------------------------------------------------------------------------------------------------------------------------------- */


/*************** background ******************/
.back-ground{
  background-image: url(../images/the-town-bg-01.jpg);
  background-size: 100% 100%;
  height: 100vh;
  background-attachment: fixed;
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
/*************** background ******************/


/* --------------------------------------------------------------------------------------------------------------------------------------- */

/*************** nav ******************/
nav{
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}
nav .left{
  margin: 0 15px;
}
nav .right{
  margin: 0 15px;
}
nav a{
  color: white;
  margin: 0 10px;
  font-size: 17px;
}
a:hover, .info a:hover{
  color: darkcyan;
}
nav section{
  display: flex;
}
nav section div:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.1, 1.1);
}
/*************** nav ******************/


/* -------------------------------------------------------------------------------------------------------------------------------------- */


/******************* header *********************/
header{
  padding-top: 25vh;
  text-align: center;
  height: 95vh;
  
}
header h1, header h3, header h4{
  margin: 10px;
  color: white;
}
header span {
  color: white;
  text-transform: capitalize;
  font-size: 25px;
}
.svg{
  position: absolute;
  left: 10vw;
  top: 65vh;
  animation: move-up 2s linear infinite alternate;
}


@keyframes move-up {
  from{
    top: 80vh;
  }
  to{
    top: 77vh;
  }
}
/******************* header *********************/

/* -------------------------------------------------------------------------------------------------------------------------------------- */


                                                   /******************* MAIN *********************/


/******************* introduction *********************/                                                   
.introduction{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 35px;
  align-items: center;
  justify-content: space-between;
}
.introduction-item{
  width: 50%;
  padding: 15px;
  margin-bottom: 100px;
}
.introduction-item img{
  width: 100%;
  margin: auto 0;
}
.introduction-item:nth-child(3),.introduction-item:nth-child(4),.introduction-item:nth-child(5){
  width: 29%;
}
.introduction-item:nth-child(2) h3{
  color: rgba(19, 69, 207, 0.918);
margin-bottom: 20px;
}
.introduction-item:nth-child(3) h2,.introduction-item:nth-child(4) h2,.introduction-item:nth-child(5) h2{
  text-align: center;
  color: rgba(80, 71, 71, 0.56);
  margin-bottom: 10px;
  font-size: 28px;
}
.introduction-item:nth-child(3) h5,.introduction-item:nth-child(4) h5,.introduction-item:nth-child(5) h5{
  text-align: center;
  color: rgba(19, 69, 207, 0.918);
  margin-bottom: 5px;
}
.introduction-item p{
  margin-top: 35px;
  color: rgba(95, 81, 81, 0.877);
  line-height: 1.8;
}
.introduction-item button{
  color: white;
  background-color: rgba(19, 69, 207, 0.918);
  outline: none;
  border: none;
  margin-top: 15px;
  font-size: 18px;
  padding: 7px 20px;
  border-radius: 15px;
  opacity: .7;
}
.introduction-item button:hover{
  opacity: 1;
  cursor: pointer;
}
.introduction-item:nth-child(2){
  display: flex;
  align-self: stretch;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
}
/******************* introduction *********************/  

/* -------------------------------------------------------------------------------------------------------------------------------------- */

/******************* OUR WORK *********************/  
.our-work{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-top: 45px;
  overflow-x: hidden;
}
.our-work h2{
  color: rgba(19, 69, 207, 0.918);
  margin-bottom: 20px;
  font-size: 30px;
}
.our-work p{
  color: rgba(95, 81, 81, 0.877);
  width: 70%;
  margin-bottom: 50px;
  line-height: 2;
}
.our-work .slider{
  display: flex;
  overflow: hidden;
  width: 1250px;
  /* position: relative; */
}
.slider img{
 position: relative;
  margin: 10px 15px;
  animation: slide 10s  linear none infinite;
  border-radius: 5px;
}
@keyframes slide {
  0%{left: 0;}
  20%{left: -250px}
  40%{left: -500px;}
  60%{left: -750px;}
  80%{left: -1000px;}
  100%{left: 1250;}
  /* 0%{left: +250px;} */
}
.slider img:hover{
  box-shadow: 0px 0px 5px 1px #4c2f167a;
  cursor: pointer;
}
/******************* OUR WORK *********************/  

/* -------------------------------------------------------------------------------------------------------------------------------------- */

/******************* CONTACT US *********************/  
.contact-us-bg {
  background-image: url(../images/the-town-bg-02.jpg);
  background-size: 100% 100%;
  height: 100vh;
  background-attachment: fixed;
  overflow: hidden;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-us{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
}
.contact-us .h2{
  margin-top: 20vh;
  margin-bottom: 25px;
  color: white;
  border-bottom: 1px solid white;
  line-height: 15px;
  overflow: visible;
}
.contact-us h2{
  display: inline-block;
  color: white;
  padding: 25px 0;
  box-shadow: 0px 7px 0px 0px #fff;
  line-height: 15px;
}
.contact-us p{
  color: white;
  line-height: 2;
  margin: 25px 0;
}
.info {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  margin: 15px 0;
  align-items: center;
  flex-wrap: wrap;
}
.info a{
  font-size: 22px;
  color: white;
}
.info input{
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  margin: 10px;
  outline: none;
  border: none;
}
.info input[type= submit]{
  cursor: pointer;
  background-color: rgba(19, 69, 207, 0.918);
  outline: none;
  border: none;
  font-size: 18px;
  padding: 7px 20px;
  
}
.info input[type= submit]:hover{
  color: white;
}
/******************* CONTACT US *********************/  

/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* --------- back to top ---------*/
.top{
  position: fixed;
  right: 20px;
  bottom: 15px;
  font-size: 60px;
  z-index: 10;
  color: rgb(223, 58, 58);
}
.top:hover{
  color: rgb(238, 109, 109);
  transform: scale(1.5, 1.5);
}
/* --------- back to top ---------*/
/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */

/*-----------------  FOOTER ------------------------ */
footer{
  color: white;
  width: 100%;
  text-align: center;
  margin: 25px;
}
/*-----------------  FOOTER ------------------------ */